[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/srv/C0pyWriter/venv/bin/uwsgi -i /srv/C0pyWriter/.config/uwsgi/backend.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
